*{
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* font-size:18px; */
}

body{
    /* background-color: black; */
    color: white;
    width: 100vw;
    height: 100vh;
    padding: 3px;
    font-size:18px;

    }


    .map {
        /* Set the map's width and height */
        width: 100vw;
        height: 100vh;
        position:absolute;
        z-index:3;
      }
      
      #mapBox{
        position: relative;
        margin: 0px;
        /* padding: 2px; */
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
      }

      .thoughtEl{
        top:0px;
        font-size: 2px;
        left: 0px;
        color: #ffffffba;
        width: 50px;
        height: 50px;
        position:absolute;
        z-index: 100;
        text-align: center;
        /* background: rgb(255, 84, 218); */
      }

      /* mainBarZone */
      #mainBarZone{
        /* background-color: blue; */
        position: absolute;
        z-index: 5;
        width: 100vw;
        bottom: 0;
        left: 0;
      }
        #multiplayerDataZone{
        /* background-color: blue; */
        position: absolute;
        z-index: 5;
        width: 20vw;
        height: max-content;
        right: 0;
        top: 0;
      }

      #customMenu{
        width: max-content;
      }
/* modal boxes */
.modals {
        position: absolute;
        z-index: 20;
        background-color: #000000;
        border: 1px solid #d3d3d3;
        /* padding: 5px; */
        width: 300px;
        height: 180px;
      }

#thought-modal{
    /* background-color: blue; */
    top: 5%;
    left: 5%;
    width: 90vw;
    height: 90vh;
    text-align: center;
    display: block;
}

#input-modal{
  /* background-color: #ec77ac; */
  right: 1%;
  bottom: 5%;
  text-align: center;
  display: none;
}
/* fractal css */
.fractal-palette-buttons {
    display: inline-block;
}

.fractal-palette-button {
    border: 2px;
    border-radius: 5px;
}

.fractal-palette-button-active {
    border-style: solid;
    border-color: rgb(140, 140, 140);
    background: rgb(165, 165, 165);
}
/* hover setups */
.thoughtHoverEl{
  color: #00ff6a;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  width: max-content;
  height: max-content;
  position:absolute;
  z-index: 100;
  /* display: none; */
  display: block;
  padding: auto;
}

.thoughtEl:hover + .thoughtHoverEl{
  /* background-color: rgba(255, 255, 255, 0.9); */
  width: max-content;
  height: max-content;
  display: block;
  /* box-shadow: 10px 10px 5px 12px rgb(178, 182, 183); */
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  /* padding: 0.2px; */
  z-index: 200;
}

  /* MOBILE SETUPS */
  @media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    *{
      margin: 0;
      padding: 0;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size:40px;
  }
  }